<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}
</head>
<body>
    {{>navbar}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        
                        <div class=" main_header_left align-items-center">
                            <img src="images/404error.png">
                            <p> Welcome to weather app</p>
                            <h1>{{errorMsg}}</h1>
                            <a href="/"><button>Go Back</button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

            <!-- FOOTER -->
        {{>footer}}
</body>
</html>