
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100;0,400;0,500;1,600;1,700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Piazzolla:ital,wght@0,200;0,300;0,500;0,900;1,200&family=Varela&family=Varela+Round&display=swap');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif
}

:root {
    --main-bg : #1e272e;

    --main-color :#0087e6;
}

html {
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}
.row{
    margin: 0;
    
}

.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    font-size: 2rem;
    padding: 2rem 0;
    color :#fff;
    background-color:  var(--main-bg);
}

.navbar a{
    color :#fff;
}
.navbar-brand{
    font-size: 4rem;
}
button.navbar-toggler{
    background-color: white;
    
}
.navbar-light .navbar-toggler{
    background-color: gray;
    color :white;
    
}
.fa-snowflake{
    transition: all linear;
    color: var(--main-color);
    animation : rot 2s linear infinite;
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*Main header */

.main_header_left{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_right{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_rightt{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.w-50 {
    width: 65%!important;
}

#about_img{
    font-size: 20rem;
}

.main_header_left button {
    border :none;
    padding : 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;

}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right figure i {
    filter:drop-shadow(0 2rem 2rem rgba(0, 0, 0, 0.5))
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
/* temp input fienlds styles code */

.temp_form {
    width:60%;
    position : relative;
    margin :10rem auto 6rem;
}
.temp_form input[type="text"]{
    width:100%;
    padding :2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline :none;
    border: none;
    font-size: 2rem;
    border-radius:2.5rem;

}
::placeholder{
    color: #bfc1c8;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 10px;
    border: none;
    background: #009ad8;
    padding: 0.3rem 1.7rem;
    border-radius: 2rem;
    color : white;
    font-size: 2rem;
}

.temp_form input[type="submit"]:hover{
    color: #0087e6;
    background-color: #fff;
}
/* Temp details Show */

.tempInfo{
    width:40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding:1rem;
    font-family : "Roboto",sans-serif;
}
.top_layer{
    width: 100%;
    height : 20%;
    background-color: #2d303d;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    
}
.top_layer p{
    color: aliceblue;
    padding: 2rem  ;
    font-size: 1.4rem;
}
.main_layer{
    width : 100%;
    height :80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main_layer #city_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-size: 2rem;
    font-weight: 300;
}
.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 5rem;
    font-weight: 900;
}
.fa{
    color: #009ad8;
}
sup{
    font-size: 6rem;
    margin-top:  -2rem;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
}

/*Footer code */

footer{
    width: 100%;
    margin: 0;
    background-color: var(--main-bg);
    margin-top: auto;

}

footer p{
    margin :0;
    text-align: center;
    color:#fff;
    line-height : 5rem;
    font-size: 1.4rem;
    
}

/*responsive code */
@media (max-width:381px){
    html {
        font-size: 35%;
    }
    .main_header_left{
        height: auto;
        margin: 3rem 0;
        align-items: center;
    }
    .carousel-inner{
        width: auto;
        margin: auto;
    }
    .carousel-item{
        margin: auto;
        width: auto;
        height: auto;
        object-fit: fill;

    }
    .main_header_right{
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .temp_form{
        width: auto;
    }
    .tempInfo{
        width: auto;
    }
}
@media only  screen and (min-width:381px) and (max-width:480px){
    html {
        font-size: 40%;
    }
    .main_header_left{
        height: auto;
        margin: 3rem 0;
        align-items: center;
    }
    .carousel-inner{
        width: auto;
        margin: auto;
    }
    .carousel-item{
        margin: auto;
        width: auto;
        height: auto;
        object-fit: fill;

    }
    .main_header_right{
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .temp_form{
        width: auto;
    }
    .tempInfo{
        width: auto;
    }
}
@media only  screen and (min-width:480px) and (max-width:769px){
    html {
        font-size: 50%;
    }
    .main_header_left{
        height: auto;
        margin: 3rem 0;
        align-items: center;
    }
    .carousel-inner{
        width: auto;
        margin: auto;
    }
    .carousel-item{
        margin: auto;
        width: auto;
        height: auto;
        object-fit: fill;

    }
    .main_header_right{
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .temp_form{
        width: auto;
    }
    .tempInfo{
        width: auto;
    }
}
@media only  screen and (min-width:769px) and (max-width:1024px){
    html {
        font-size: 60%;
    }
}